body {
    
    background-color: #45DED2;
    background-image: url('C:/Users/Jacob/Desktop/Portfolio website/Website/images/underconstruction.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.mobile {
    display: inline;
}

.desktop {
    display: none;
}